<div class="home">
	
<div class="fullPanel">
<div class="headerImg">
	<img src="images/headerImg.png" alt="">
</div>
	<div class="content">
		

	</div>
</div>

<div class="fullPanel panel2">
<div class="content ">
	<div class="grid2 ">
	<h1>NOT JUST A BAND</h1>
	</div>
	<div class="grid2">
		<div class="gridleft">
			<h3>Almost Famous is a Musical Expirence</h3>
			<p>Combining high-energy, party-rock covers from the 70s, 80s, 90s, 00s and current hits with attitude and style. Our tunes are specifically chosen to keep the crowd on their feet dancing and singing along to every word of every song.</p>
		</div>
	</div>
</div>

</div>

</div>
